{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock head %}
{% block main %}
<div class="is-center">
    <h1>{{title}}</h1>
</div>
<a id="logout" href="/logout" role="button">
    <i class="fa-solid fa-right-from-bracket"></i>
</a>
<article>
    <h3 id="general">General</h3>
    <label for="url">Title</label>
    <input type="text" name="url" placeholder="Url" value="{{url}}"></input>
    <label for="port">Port</label>
    <input type="number" name="port" placeholder="6996" value="{{port}}"></input>
    <label for="sleep_time">Sleep time</label>
    <input type="number" name="sleep_time" placeholder="60" value="{{sleep_time}}"></input>
    <label for="Older than">Older than</label>
    <input type="number" name="older_than" placeholder="60" value="{{older_than}}"></input>
    <label for="jwt_secret">jwt secret</label>
    <input type="text" name="jwt_secret" placeholder="jwt secret" value="{{jwt_secret}}"></input>
    <label for="jwt_expires_in">jwt expires in</label>
    <input type="text" name="jwt_expires_in" placeholder="jwt expires in" value="{{jwt_expires_in}}"></input>
    <label for="jwt_maxage">jwt max age</label>
    <input type="number" name="jwt_maxage" placeholder="jwt max age" value="{{jwt_maxage}}"></input>

    <a href="#general" role="button" class="save-button">
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
</article>

<article>
    <h3 id="feed">Feed</h3>
    <label for="feed_title">Title</label>
    <input type="text" name="feed_title" placeholder="Title" value="{{feed_title}}"></input>
    <label for="feed_link">Link</label>
    <input type="text" name="feed_link" placeholder="Link" value="{{feed_link}}"></input>
    <label for="feed_image_url">Image url</label>
    <input type="text" name="feed_image_url" placeholder="Image url" value="{{feed_image_url}}"></input>
    <label for="feed_category">Category</label>
    <input type="text" name="feed_category" placeholder="Category" value="{{feed_category}}"></input>
    <label for="feed_rating">Rating</label>
    <input type="text" name="feed_rating" placeholder="Rating" value="{{feed_rating}}"></input>
    <label for="feed_description">Description</label>
    <input type="text" name="feed_description" placeholder="Description" value="{{feed_description}}"></input>
    <label for="feed_author">Author</label>
    <input type="text" name="feed_author" placeholder="Author" value="{{feed_author}}"></input>
    <label for="feed_explicit">Explicit</label>
    <input type="text" name="feed_explicit" placeholder="No" value="{{feed_explicit}}"></input>
    <label for="feed_keywords">Keyworkds</label>
    <input type="text" name="feed_keywords" placeholder="Keywords" value="{{feed_keywords}}"></input>

    <a href="#feed" role="button" class="save-button">
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
</article>
<article>
    <h3 id="telegram">Telegram</h3>
    <input type="checkbox" name="telegram_active" role="switch" {% if telegram_active == "TRUE" %}checked{% endif %}></input><br/>
    <label for="telegram_token">Token</label>
    <input type="text" name="telegram_token" placeholder="token" value="{{telegram_token}}"></input>
    <label for="telegram_chat_id">Chat Id</label>
    <input type="number" name="telegram_chat_id" placeholder="Chat Id" value="{{telegram_chat_id}}"></input>
    <label for="telegram_thread_id">Thread Id</label>
    <input type="number" name="telegram_thread_id" placeholder="Thread Id" value="{{telegram_thread_id}}"></input>
    <label for="telegram_template">Template</label>
    <textarea name="telegram_template" placeholder="template">{{telegram_template}}</textarea>

    <a href="#telegram" role="button" class="save-button">
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
</article>
<article>
    <h3 id="twitter">Twitter</h3>
    <input type="checkbox" name="twitter_active" role="switch" {% if twitter_active == "TRUE" %}checked{% endif %}></input><br/>
    <label for="twitter_client_id">Client Id</label></input>
    <input type="text" name="twitter_client_id" placeholder="Client Id" value="{{twitter_client_id}}"></input>
    <label for="twitter_client_secret">Client Secret</label>
    <input type="text" name="twitter_client_secret" placeholder="Client Secret" value="{{twitter_client_secret}}"></input>
    <label for="twitter_access_token">Access Token</label>
    <input type="text" name="twitter_access_token" placeholder="Access Token" value="{{twitter_access_token}}"></input>
    <label for="twitter_refresh_token">Refresh Token</label>
    <input type="text" name="twitter_refresh_token" placeholder="Refresh Token" value="{{twitter_refresh_token}}"></input>
    <label for="twitter_template">Template</label>
    <textarea name="twitter_template" placeholder="template">{{twitter_template}}</textarea>

    <a href="#twitter" role="button" class="save-button">
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
</article>
{% endblock main %}
{% block scripts %}
<script src="/assets/js/config.js"></script>
{% endblock scripts %}
