{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock head %}
{% block main %}
<div class="is-center">
    <h1>{{title}}</h1>
</div>
<button role="button" data-role="add" data-target="dialog-podcast" class="open-dialog-podcast" data-tooltip="Add new podcast">
    <i class="fa-solid fa-plus"></i>
</button>
<a id="config" href="/config" role="button" data-tooltip="Configuration">
    <i class="fa-solid fa-gear"></i>
</a>
<a id="logout" href="/logout" role="button" data-tooltip="Logout">
    <i class="fa-solid fa-right-from-bracket"></i>
</a>
<div style="overflow-x:auto;">
    <table id="podcasts">
        <tbody>
            {% for podcast in podcasts %}
            <tr id="{{podcast.id}}">
                <td><i class="fa-regular fa-square{% if podcast.active == 1 %}-check{% endif %}"></i></td>
                <td>{{podcast.name}}</td>
                <td>{{podcast.url}}</td>
                <td>{{podcast.last_pub_date}}</td>
                <td>
                    <button role="button" data-active="{{podcast.active}}" data-name="{{podcast.name}}" data-url="{{podcast.url}}" data-target="dialog-podcast" data-role="edit" class="open-dialog-podcast" data-tooltip="Edit podcast">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td>
                    <button role="button" data-id="{{podcast.id}}" class="delete-podcast" data-tooltip="Delete podcast">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <!-- Dialog Podcast -->
    <dialog id="dialog-podcast">
      <article>
        <a
          id="dialog-podcast-close"
          href="#close"
          aria-label="Close"
          class="close"
        ></a>
        <h3>Edit podcast</h3>
        <input type="checkbox" id="dialog-podcast-active" name="active" role="switch"></input><br/><br/>
        <label for="dialog-podcast-name">name</label>
        <input type="text" id="dialog-podcast-name" name="name" placeholder="Podcast name" required></input>
        <label for="dialog-podcast-url">url</label>
        <input type="url" id="dialog-podcast-url" name="url" placeholder="Podcast url" required></input>
        <footer>
          <a
            id="dialog-podcast-cancel"
            href="#cancel"
            role="button"
            class="secondary"
            >Cancel</a
          >
          <a
            id="dialog-podcast-confirm"
            href="#confirm"
            role="button"
            >Confirm</a
          >
        </footer>
      </article>
    </dialog>
    <!-- ./ Modal example -->

{% endblock main %}
{% block scripts %}
<script src="/assets/js/main.js"></script>
{% endblock scripts %}
